In [1]:
import numpy as np
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_24532\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#movies = pd.read_csv(r'C:\Users\user\Recommender System\data\raw\movies_metadata.csv')
#credit = pd.read_csv(r'C:\Users\user\Recommender System\data\raw\credits.csv')
#keywords = pd.read_csv(r'C:\Users\user\Recommender System\data\raw\keywords.csv')

movies = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

#movies = pd.read_csv('imdb_movies.csv')

In [3]:
#movies.iloc[29503]
#movies.iloc[19730]
#movies.iloc[35587]
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
# DATA CLEANING BLOCK

'''sorted(list(movies[['popularity']]),reverse=True)'''

'''for i,x in enumerate(movies['id']):
    if '-' in x:
        print(i)
print('end')'''


'''movies.drop(axis=0,index=19730,inplace=True)
movies.drop(axis=0,index=29503,inplace=True)
movies.drop(axis=0,index=35587,inplace=True)'''

'''
movies.iloc[29503]
movies.iloc[19730]
movies.iloc[35587]'''

#movies['genre'].apply(lambda x: x.replace('\xa0',''))

#movies['genres'].apply(type)

#movies.head()'''

'\nmovies.iloc[29503]\nmovies.iloc[19730]\nmovies.iloc[35587]'

In [5]:
#movies['id'] = movies['id'].apply(lambda x: int(x))

In [6]:
#keywords.head(1)

In [4]:
#credit = credit.merge(keywords,on='id')
movies = movies.merge(credit,on='title')
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.shape

(4809, 23)

In [6]:
# genres
# id
# keywords
# title
# cast
# crew
# overview

#movies = movies[['id','title','overview','genres','keywords','cast','crew']]
movies  = movies[['id','title','genres']]
#movies = movies[['names','genre','overview','crew']]

In [7]:
movies.head()

,id,title,genres
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

In [8]:
movies.isnull().sum()

id        0
title     0
genres    0
dtype: int64

In [9]:
movies.dropna(inplace = True)

In [10]:
movies.duplicated().sum()
movies = movies.drop_duplicates()
movies.duplicated().sum()

0

In [11]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
# since the data is in form of a string representaion of list, i.e. '[{"id": 28, "name": "Action"}, {"id": 12, ".....]'
# ast literal_eval allows for conversion of string representaion of list to list easily
import ast

In [13]:
def fetch_actors(obj):
    l = []
    c = 0
    for i in ast.literal_eval(obj):
        if c != 3:
            l.append(i['name'])
            c += 1
        else:
            break
    return l

def convert(obj):
    l = []
    c = 0
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [14]:
def fetch_directors(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
                l.append(i['name'])
                break
    return l

In [15]:
movies['genres'] = movies['genres'].apply(convert)

In [16]:
movies.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)

In [21]:
movies.iloc[0].keywords

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [22]:
movies['cast'] = movies['cast'].apply(fetch_actors)

In [23]:
movies.iloc[0].cast

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [24]:
movies['crew'] = movies['crew'].apply(fetch_directors)

In [25]:
movies.iloc[0].crew

['James Cameron']

In [17]:
movies.head()

,id,title,genres
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]"
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]"
2,206647,Spectre,"[Action, Adventure, Crime]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]"
4,49529,John Carter,"[Action, Adventure, Science Fiction]"

In [27]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [28]:
movies.iloc[0].overview

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [29]:
movies.shape

(4806, 7)

In [18]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
#movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
#movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
#movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [19]:
movies['genres'].apply(type)

0       <class 'list'>
1       <class 'list'>
2       <class 'list'>
3       <class 'list'>
4       <class 'list'>
             ...
4804    <class 'list'>
4805    <class 'list'>
4806    <class 'list'>
4807    <class 'list'>
4808    <class 'list'>
Name: genres, Length: 4803, dtype: object

In [20]:
movies['genres'] = movies['genres'].apply(lambda x:[i.lower() for i in x])
#movies['keywords'] = movies['keywords'].apply(lambda x:[i.lower() for i in x])
#movies['cast'] = movies['cast'].apply(lambda x:[i.lower() for i in x])
#movies['crew'] = movies['crew'].apply(lambda x:[i.lower() for i in x])
#movies['overview'] = movies['overview'].apply(lambda x:[i.lower() for i in x])

In [21]:
#movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies['tags'] = movies['genres']

In [22]:
movies.head()

,id,title,genres,tags
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]","[action, adventure, fantasy, sciencefiction]"
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","[adventure, fantasy, action]"
2,206647,Spectre,"[action, adventure, crime]","[action, adventure, crime]"
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]","[action, crime, drama, thriller]"
4,49529,John Carter,"[action, adventure, sciencefiction]","[action, adventure, sciencefiction]"

In [23]:
movies.iloc[0].tags

['action', 'adventure', 'fantasy', 'sciencefiction']

In [24]:
new_df = movies[['id','title','tags']]

In [25]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]"
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]"
2,206647,Spectre,"[action, adventure, crime]"
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]"
4,49529,John Carter,"[action, adventure, sciencefiction]"

In [26]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\user\AppData\Local\Temp\ipykernel_24532\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [27]:
new_df.iloc[0].tags

'action adventure fantasy sciencefiction'

In [31]:
import nltk

In [32]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [33]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [34]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\user\AppData\Local\Temp\ipykernel_24532\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [36]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [37]:
vectors[0]

array([1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
      dtype=int64)

In [38]:
vectors.shape

(4803, 20)

In [39]:
cv.get_feature_names_out()

array(['action', 'adventur', 'anim', 'comedi', 'crime', 'documentari',
       'drama', 'famili', 'fantasi', 'foreign', 'histori', 'horror',
       'music', 'mysteri', 'romanc', 'sciencefict', 'thriller', 'tvmovi',
       'war', 'western'], dtype=object)

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
similarity = cosine_similarity(vectors)

In [42]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 1.0),
 (10, 1.0),
 (14, 1.0),
 (46, 1.0),
 (61, 1.0),
 (232, 1.0),
 (813, 1.0),
 (870, 1.0),
 (3494, 1.0),
 (72, 0.8944271909999159),
 (238, 0.8944271909999159),
 (322, 0.8944271909999159),
 (618, 0.8944271909999159),
 (1191, 0.8944271909999159),
 (1230, 0.8944271909999159),
 (1296, 0.8944271909999159),
 (1390, 0.8944271909999159),
 (1652, 0.8944271909999159),
 (1932, 0.8944271909999159),
 (3208, 0.8944271909999159),
 (1, 0.8660254037844388),
 (4, 0.8660254037844388),
 (5, 0.8660254037844388),
 (7, 0.8660254037844388),
 (9, 0.8660254037844388),
 (12, 0.8660254037844388),
 (16, 0.8660254037844388),
 (17, 0.8660254037844388),
 (19, 0.8660254037844388),
 (20, 0.8660254037844388),
 (26, 0.8660254037844388),
 (30, 0.8660254037844388),
 (31, 0.8660254037844388),
 (35, 0.8660254037844388),
 (36, 0.8660254037844388),
 (38, 0.8660254037844388),
 (39, 0.8660254037844388),
 (47, 0.8660254037844388),
 (51, 0.8660254037844388),
 (52, 0.8660254037844388),
 (56, 0.8660254037844388),
 (59, 0.8660254037844388),
 (68, 0.8660254037844388),
 (71, 0.8660254037844388),
 (79, 0.8660254037844388),
 (85, 0.8660254037844388),
 (91, 0.8660254037844388),
 (94, 0.8660254037844388),
 (98, 0.8660254037844388),
 (101, 0.8660254037844388),
 (102, 0.8660254037844388),
 (107, 0.8660254037844388),
 (111, 0.8660254037844388),
 (126, 0.8660254037844388),
 (129, 0.8660254037844388),
 (158, 0.8660254037844388),
 (169, 0.8660254037844388),
 (174, 0.8660254037844388),
 (182, 0.8660254037844388),
 (183, 0.8660254037844388),
 (193, 0.8660254037844388),
 (199, 0.8660254037844388),
 (206, 0.8660254037844388),
 (207, 0.8660254037844388),
 (208, 0.8660254037844388),
 (229, 0.8660254037844388),
 (230, 0.8660254037844388),
 (233, 0.8660254037844388),
 (242, 0.8660254037844388),
 (260, 0.8660254037844388),
 (262, 0.8660254037844388),
 (315, 0.8660254037844388),
 (329, 0.8660254037844388),
 (330, 0.8660254037844388),
 (379, 0.8660254037844388),
 (400, 0.8660254037844388),
 (419, 0.8660254037844388),
 (420, 0.8660254037844388),
 (426, 0.8660254037844388),
 (466, 0.8660254037844388),
 (483, 0.8660254037844388),
 (486, 0.8660254037844388),
 (495, 0.8660254037844388),
 (507, 0.8660254037844388),
 (508, 0.8660254037844388),
 (511, 0.8660254037844388),
 (577, 0.8660254037844388),
 (715, 0.8660254037844388),
 (728, 0.8660254037844388),
 (746, 0.8660254037844388),
 (786, 0.8660254037844388),
 (836, 0.8660254037844388),
 (1079, 0.8660254037844388),
 (1438, 0.8660254037844388),
 (1490, 0.8660254037844388),
 (1611, 0.8660254037844388),
 (1802, 0.8660254037844388),
 (1990, 0.8660254037844388),
 (2343, 0.8660254037844388),
 (2372, 0.8660254037844388),
 (2390, 0.8660254037844388),
 (2433, 0.8660254037844388),
 (2444, 0.8660254037844388),
 (2490, 0.8660254037844388),
 (2492, 0.8660254037844388),
 (2592, 0.8660254037844388),
 (2655, 0.8660254037844388),
 (2912, 0.8660254037844388),
 (2995, 0.8660254037844388),
 (3305, 0.8660254037844388),
 (4042, 0.8660254037844388),
 (4117, 0.8660254037844388),
 (168, 0.8164965809277261),
 (654, 0.8164965809277261),
 (859, 0.8164965809277261),
 (931, 0.8164965809277261),
 (1192, 0.8164965809277261),
 (2069, 0.8164965809277261),
 (2163, 0.8164965809277261),
 (1825, 0.7559289460184544),
 (27, 0.75),
 (28, 0.75),
 (33, 0.75),
 (41, 0.75),
 (50, 0.75),
 (76, 0.75),
 (83, 0.75),
 (84, 0.75),
 (108, 0.75),
 (122, 0.75),
 (123, 0.75),
 (125, 0.75),
 (127, 0.75),
 (138, 0.75),
 (149, 0.75),
 (150, 0.75),
 (166, 0.75),
 (203, 0.75),
 (212, 0.75),
 (215, 0.75),
 (228, 0.75),
 (241, 0.75),
 (271, 0.75),
 (278, 0.75),
 (292, 0.75),
 (300, 0.75),
 (332, 0.75),
 (334, 0.75),
 (342, 0.75),
 (369, 0.75),
 (412, 0.75),
 (467, 0.75),
 (490, 0.75),
 (505, 0.75),
 (581, 0.75),
 (587, 0.75),
 (627, 0.75),
 (661, 0.75),
 (755, 0.75),
 (784, 0.75),
 (799, 0.75),
 (939, 0.75),
 (976, 0.75),
 (1001, 0.75),
 (1034, 0.75),
 (1083, 0.75),
 (1093, 0.75),
 (1110, 0.75),
 (1201, 0.75),
 (1266, 0.75),
 (1294, 0.75),
 (1303, 0.75),
 (1341, 0.75),
 (1531, 0.75),
 (1583, 0.75),
 (1750, 0.75),
 (1918, 0.75),
 (1936, 0.75),
 (1939, 0.75),
 (2066, 0.75),
 (2129, 0.75),
 (2317, 0.75),
 (2327, 0.75),
 (2815, 0.75),
 (2967, 0.75),
 (3350, 0.75),
 (3856, 0.75),
 (4077, 0.75),
 (4344, 0.75),
 (4670, 0.75),
 (21, 0.7071067811865475),
 (22, 0.7071067811865475),
 (23, 0.7071067811865475),
 (53, 0.7071067811865475),
 (62, 0.7071067811865475),
 (74, 0.7071067811865475),
 (75, 0.7071067811865475),
 (115, 0.7071067811865475),
 (159, 0.7071067811865475),
 (223, 0.7071067811865475),
 (224, 0.7071067811865475),
 (256, 0.7071067811865475),
 (266, 0.7071067811865475),
 (304, 0.7071067811865475),
 (331, 0.7071067811865475),
 (340, 0.7071067811865475),
 (415, 0.7071067811865475),
 (428, 0.7071067811865475),
 (469, 0.7071067811865475),
 (582, 0.7071067811865475),
 (610, 0.7071067811865475),
 (634, 0.7071067811865475),
 (640, 0.7071067811865475),
 (668, 0.7071067811865475),
 (675, 0.7071067811865475),
 (854, 0.7071067811865475),
 (1006, 0.7071067811865475),
 (1089, 0.7071067811865475),
 (1153, 0.7071067811865475),
 (1270, 0.7071067811865475),
 (1326, 0.7071067811865475),
 (1359, 0.7071067811865475),
 (1608, 0.7071067811865475),
 (1650, 0.7071067811865475),
 (1697, 0.7071067811865475),
 (1959, 0.7071067811865475),
 (2085, 0.7071067811865475),
 (2100, 0.7071067811865475),
 (3089, 0.7071067811865475),
 (3405, 0.7071067811865475),
 (3460, 0.7071067811865475),
 (3607, 0.7071067811865475),
 (3724, 0.7071067811865475),
 (3777, 0.7071067811865475),
 (4012, 0.7071067811865475),
 (4176, 0.7071067811865475),
 (4187, 0.7071067811865475),
 (4193, 0.7071067811865475),
 (4316, 0.7071067811865475),
 (4654, 0.7071067811865475),
 (70, 0.6708203932499369),
 (81, 0.6708203932499369),
 (96, 0.6708203932499369),
 (97, 0.6708203932499369),
 (103, 0.6708203932499369),
 (121, 0.6708203932499369),
 (131, 0.6708203932499369),
 (187, 0.6708203932499369),
 (243, 0.6708203932499369),
 (305, 0.6708203932499369),
 (371, 0.6708203932499369),
 (403, 0.6708203932499369),
 (472, 0.6708203932499369),
 (539, 0.6708203932499369),
 (543, 0.6708203932499369),
 (607, 0.6708203932499369),
 (732, 0.6708203932499369),
 (768, 0.6708203932499369),
 (972, 0.6708203932499369),
 (977, 0.6708203932499369),
 (1044, 0.6708203932499369),
 (1086, 0.6708203932499369),
 (1139, 0.6708203932499369),
 (1155, 0.6708203932499369),
 (1213, 0.6708203932499369),
 (1617, 0.6708203932499369),
 (1686, 0.6708203932499369),
 (1827, 0.6708203932499369),
 (1872, 0.6708203932499369),
 (1984, 0.6708203932499369),
 (2046, 0.6708203932499369),
 (2127, 0.6708203932499369),
 (2157, 0.6708203932499369),
 (2826, 0.6708203932499369),
 (3901, 0.6708203932499369),
 (3993, 0.6708203932499369),
 (55, 0.6123724356957946),
 (160, 0.6123724356957946),
 (410, 0.6123724356957946),
 (777, 0.6123724356957946),
 (920, 0.6123724356957946),
 (922, 0.6123724356957946),
 (1277, 0.6123724356957946),
 (1518, 0.6123724356957946),
 (1626, 0.6123724356957946),
 (2442, 0.6123724356957946),
 (2, 0.5773502691896258),
 (8, 0.5773502691896258),
 (13, 0.5773502691896258),
 (15, 0.5773502691896258),
 (18, 0.5773502691896258),
 (24, 0.5773502691896258),
 (29, 0.5773502691896258),
 (32, 0.5773502691896258),
 (37, 0.5773502691896258),
 (43, 0.5773502691896258),
 (48, 0.5773502691896258),
 (63, 0.5773502691896258),
 (80, 0.5773502691896258),
 (93, 0.5773502691896258),
 (95, 0.5773502691896258),
 (109, 0.5773502691896258),
 (114, 0.5773502691896258),
 (134, 0.5773502691896258),
 (139, 0.5773502691896258),
 (143, 0.5773502691896258),
 (147, 0.5773502691896258),
 (148, 0.5773502691896258),
 (151, 0.5773502691896258),
 (153, 0.5773502691896258),
 (157, 0.5773502691896258),
 (163, 0.5773502691896258),
 (165, 0.5773502691896258),
 (170, 0.5773502691896258),
 (175, 0.5773502691896258),
 (185, 0.5773502691896258),
 (191, 0.5773502691896258),
 (197, 0.5773502691896258),
 (200, 0.5773502691896258),
 (210, 0.5773502691896258),
 (213, 0.5773502691896258),
 (216, 0.5773502691896258),
 (219, 0.5773502691896258),
 (220, 0.5773502691896258),
 (225, 0.5773502691896258),
 (237, 0.5773502691896258),
 (240, 0.5773502691896258),
 (245, 0.5773502691896258),
 (249, 0.5773502691896258),
 (257, 0.5773502691896258),
 (259, 0.5773502691896258),
 (263, 0.5773502691896258),
 (270, 0.5773502691896258),
 (274, 0.5773502691896258),
 (276, 0.5773502691896258),
 (277, 0.5773502691896258),
 (279, 0.5773502691896258),
 (290, 0.5773502691896258),
 (299, 0.5773502691896258),
 (306, 0.5773502691896258),
 (307, 0.5773502691896258),
 (311, 0.5773502691896258),
 (319, 0.5773502691896258),
 (336, 0.5773502691896258),
 (341, 0.5773502691896258),
 (362, 0.5773502691896258),
 (363, 0.5773502691896258),
 (366, 0.5773502691896258),
 (368, 0.5773502691896258),
 (381, 0.5773502691896258),
 (383, 0.5773502691896258),
 (389, 0.5773502691896258),
 (411, 0.5773502691896258),
 (424, 0.5773502691896258),
 (425, 0.5773502691896258),
 (449, 0.5773502691896258),
 (461, 0.5773502691896258),
 (473, 0.5773502691896258),
 (475, 0.5773502691896258),
 (476, 0.5773502691896258),
 (478, 0.5773502691896258),
 (480, 0.5773502691896258),
 (487, 0.5773502691896258),
 (501, 0.5773502691896258),
 (513, 0.5773502691896258),
 (523, 0.5773502691896258),
 (531, 0.5773502691896258),
 (537, 0.5773502691896258),
 (541, 0.5773502691896258),
 (547, 0.5773502691896258),
 (568, 0.5773502691896258),
 (583, 0.5773502691896258),
 (595, 0.5773502691896258),
 (597, 0.5773502691896258),
 (600, 0.5773502691896258),
 (601, 0.5773502691896258),
 (602, 0.5773502691896258),
 (624, 0.5773502691896258),
 (643, 0.5773502691896258),
 (644, 0.5773502691896258),
 (657, 0.5773502691896258),
 (658, 0.5773502691896258),
 (664, 0.5773502691896258),
 (678, 0.5773502691896258),
 (687, 0.5773502691896258),
 (691, 0.5773502691896258),
 (695, 0.5773502691896258),
 (718, 0.5773502691896258),
 (740, 0.5773502691896258),
 (781, 0.5773502691896258),
 (788, 0.5773502691896258),
 (805, 0.5773502691896258),
 (831, 0.5773502691896258),
 (838, 0.5773502691896258),
 (888, 0.5773502691896258),
 (894, 0.5773502691896258),
 (932, 0.5773502691896258),
 (937, 0.5773502691896258),
 (956, 0.5773502691896258),
 (960, 0.5773502691896258),
 (994, 0.5773502691896258),
 (1002, 0.5773502691896258),
 (1008, 0.5773502691896258),
 (1012, 0.5773502691896258),
 (1070, 0.5773502691896258),
 (1074, 0.5773502691896258),
 (1077, 0.5773502691896258),
 (1085, 0.5773502691896258),
 (1095, 0.5773502691896258),
 (1131, 0.5773502691896258),
 (1200, 0.5773502691896258),
 (1217, 0.5773502691896258),
 (1234, 0.5773502691896258),
 (1238, 0.5773502691896258),
 (1239, 0.5773502691896258),
 (1256, 0.5773502691896258),
 (1259, 0.5773502691896258),
 (1272, 0.5773502691896258),
 (1274, 0.5773502691896258),
 (1279, 0.5773502691896258),
 (1286, 0.5773502691896258),
 (1289, 0.5773502691896258),
 (1298, 0.5773502691896258),
 (1302, 0.5773502691896258),
 (1319, 0.5773502691896258),
 (1322, 0.5773502691896258),
 (1343, 0.5773502691896258),
 (1344, 0.5773502691896258),
 (1367, 0.5773502691896258),
 (1377, 0.5773502691896258),
 (1380, 0.5773502691896258),
 (1395, 0.5773502691896258),
 (1399, 0.5773502691896258),
 (1402, 0.5773502691896258),
 (1404, 0.5773502691896258),
 (1412, 0.5773502691896258),
 (1428, 0.5773502691896258),
 (1447, 0.5773502691896258),
 (1453, 0.5773502691896258),
 (1491, 0.5773502691896258),
 (1542, 0.5773502691896258),
 (1546, 0.5773502691896258),
 (1568, 0.5773502691896258),
 (1586, 0.5773502691896258),
 (1610, 0.5773502691896258),
 (1633, 0.5773502691896258),
 (1643, 0.5773502691896258),
 (1658, 0.5773502691896258),
 (1670, 0.5773502691896258),
 (1680, 0.5773502691896258),
 (1707, 0.5773502691896258),
 (1713, 0.5773502691896258),
 (1721, 0.5773502691896258),
 (1735, 0.5773502691896258),
 (1740, 0.5773502691896258),
 (1743, 0.5773502691896258),
 (1764, 0.5773502691896258),
 (1790, 0.5773502691896258),
 (1826, 0.5773502691896258),
 (1851, 0.5773502691896258),
 (1854, 0.5773502691896258),
 (1907, 0.5773502691896258),
 (1987, 0.5773502691896258),
 (1995, 0.5773502691896258),
 (1999, 0.5773502691896258),
 (2029, 0.5773502691896258),
 (2047, 0.5773502691896258),
 (2057, 0.5773502691896258),
 (2122, 0.5773502691896258),
 (2155, 0.5773502691896258),
 (2198, 0.5773502691896258),
 (2247, 0.5773502691896258),
 (2253, 0.5773502691896258),
 (2258, 0.5773502691896258),
 (2320, 0.5773502691896258),
 (2352, 0.5773502691896258),
 (2375, 0.5773502691896258),
 (2389, 0.5773502691896258),
 (2486, 0.5773502691896258),
 (2506, 0.5773502691896258),
 (2639, 0.5773502691896258),
 (2644, 0.5773502691896258),
 (2645, 0.5773502691896258),
 (2675, 0.5773502691896258),
 (2683, 0.5773502691896258),
 (2755, 0.5773502691896258),
 (2781, 0.5773502691896258),
 (2785, 0.5773502691896258),
 (2812, 0.5773502691896258),
 (2868, 0.5773502691896258),
 (2966, 0.5773502691896258),
 (2991, 0.5773502691896258),
 (2996, 0.5773502691896258),
 (3001, 0.5773502691896258),
 (3004, 0.5773502691896258),
 (3013, 0.5773502691896258),
 (3051, 0.5773502691896258),
 (3143, 0.5773502691896258),
 (3162, 0.5773502691896258),
 (3184, 0.5773502691896258),
 (3224, 0.5773502691896258),
 (3231, 0.5773502691896258),
 (3251, 0.5773502691896258),
 (3329, 0.5773502691896258),
 (3336, 0.5773502691896258),
 (3343, 0.5773502691896258),
 (3351, 0.5773502691896258),
 (3386, 0.5773502691896258),
 (3439, 0.5773502691896258),
 (3522, 0.5773502691896258),
 (3568, 0.5773502691896258),
 (3715, 0.5773502691896258),
 (3733, 0.5773502691896258),
 (3800, 0.5773502691896258),
 (3826, 0.5773502691896258),
 (3884, 0.5773502691896258),
 (3899, 0.5773502691896258),
 (3929, 0.5773502691896258),
 (3986, 0.5773502691896258),
 (3988, 0.5773502691896258),
 (4039, 0.5773502691896258),
 (4071, 0.5773502691896258),
 (4093, 0.5773502691896258),
 (4143, 0.5773502691896258),
 (4146, 0.5773502691896258),
 (4160, 0.5773502691896258),
 (4315, 0.5773502691896258),
 (4325, 0.5773502691896258),
 (4327, 0.5773502691896258),
 (4332, 0.5773502691896258),
 (4339, 0.5773502691896258),
 (4399, 0.5773502691896258),
 (4401, 0.5773502691896258),
 (4450, 0.5773502691896258),
 (4499, 0.5773502691896258),
 (4579, 0.5773502691896258),
 (4599, 0.5773502691896258),
 (4620, 0.5773502691896258),
 (4623, 0.5773502691896258),
 (4669, 0.5773502691896258),
 (2681, 0.5669467095138407),
 (11, 0.5),
 (44, 0.5),
 (64, 0.5),
 (67, 0.5),
 (78, 0.5),
 (82, 0.5),
 (87, 0.5),
 (90, 0.5),
 (92, 0.5),
 (104, 0.5),
 (105, 0.5),
 (113, 0.5),
 (117, 0.5),
 (132, 0.5),
 (161, 0.5),
 (162, 0.5),
 (171, 0.5),
 (172, 0.5),
 (195, 0.5),
 (198, 0.5),
 (205, 0.5),
 (217, 0.5),
 (222, 0.5),
 (235, 0.5),
 (275, 0.5),
 (291, 0.5),
 (294, 0.5),
 (296, 0.5),
 (302, 0.5),
 (309, 0.5),
 (335, 0.5),
 (339, 0.5),
 (349, 0.5),
 (356, 0.5),
 (358, 0.5),
 (373, 0.5),
 (376, 0.5),
 (402, 0.5),
 (413, 0.5),
 (422, 0.5),
 (442, 0.5),
 (457, 0.5),
 (488, 0.5),
 (510, 0.5),
 (518, 0.5),
 (535, 0.5),
 (540, 0.5),
 (544, 0.5),
 (549, 0.5),
 (560, 0.5),
 (572, 0.5),
 (584, 0.5),
 (591, 0.5),
 (594, 0.5),
 (596, 0.5),
 (612, 0.5),
 (645, 0.5),
 (674, 0.5),
 (706, 0.5),
 (708, 0.5),
 (731, 0.5),
 (735, 0.5),
 (750, 0.5),
 (778, 0.5),
 (794, 0.5),
 (803, 0.5),
 (808, 0.5),
 (814, 0.5),
 (833, 0.5),
 (834, 0.5),
 (840, 0.5),
 (841, 0.5),
 (850, 0.5),
 (864, 0.5),
 (873, 0.5),
 (898, 0.5),
 (901, 0.5),
 (929, 0.5),
 (933, 0.5),
 (969, 0.5),
 (984, 0.5),
 (989, 0.5),
 (1000, 0.5),
 (1016, 0.5),
 (1027, 0.5),
 (1028, 0.5),
 (1058, 0.5),
 (1068, 0.5),
 (1073, 0.5),
 (1076, 0.5),
 (1082, 0.5),
 (1104, 0.5),
 (1106, 0.5),
 (1134, 0.5),
 (1136, 0.5),
 (1143, 0.5),
 (1144, 0.5),
 (1152, 0.5),
 (1165, 0.5),
 (1193, 0.5),
 (1199, 0.5),
 (1212, 0.5),
 (1249, 0.5),
 (1273, 0.5),
 (1282, 0.5),
 (1290, 0.5),
 (1306, 0.5),
 (1320, 0.5),
 (1324, 0.5),
 (1331, 0.5),
 (1337, 0.5),
 (1358, 0.5),
 (1363, 0.5),
 (1398, 0.5),
 (1415, 0.5),
 (1439, 0.5),
 (1440, 0.5),
 (1465, 0.5),
 (1468, 0.5),
 (1481, 0.5),
 (1482, 0.5),
 (1495, 0.5),
 (1507, 0.5),
 (1517, 0.5),
 (1524, 0.5),
 (1528, 0.5),
 (1554, 0.5),
 (1569, 0.5),
 (1577, 0.5),
 (1602, 0.5),
 (1615, 0.5),
 (1625, 0.5),
 (1645, 0.5),
 (1667, 0.5),
 (1682, 0.5),
 (1701, 0.5),
 (1715, 0.5),
 (1726, 0.5),
 (1734, 0.5),
 (1741, 0.5),
 (1761, 0.5),
 (1777, 0.5),
 (1794, 0.5),
 (1821, 0.5),
 (1822, 0.5),
 (1848, 0.5),
 (1914, 0.5),
 (1953, 0.5),
 (1976, 0.5),
 (1977, 0.5),
 (2084, 0.5),
 (2114, 0.5),
 (2142, 0.5),
 (2175, 0.5),
 (2184, 0.5),
 (2205, 0.5),
 (2207, 0.5),
 (2209, 0.5),
 (2237, 0.5),
 (2261, 0.5),
 (2285, 0.5),
 (2294, 0.5),
 (2309, 0.5),
 (2357, 0.5),
 (2366, 0.5),
 (2403, 0.5),
 (2437, 0.5),
 (2474, 0.5),
 (2515, 0.5),
 (2521, 0.5),
 (2573, 0.5),
 (2578, 0.5),
 (2602, 0.5),
 (2678, 0.5),
 (2708, 0.5),
 (2747, 0.5),
 (2757, 0.5),
 (2758, 0.5),
 (2777, 0.5),
 (2851, 0.5),
 (2863, 0.5),
 (2884, 0.5),
 (2900, 0.5),
 (2930, 0.5),
 (2934, 0.5),
 (3024, 0.5),
 (3035, 0.5),
 (3087, 0.5),
 (3098, 0.5),
 (3133, 0.5),
 (3136, 0.5),
 (3142, 0.5),
 (3148, 0.5),
 (3158, 0.5),
 (3214, 0.5),
 (3249, 0.5),
 (3318, 0.5),
 (3335, 0.5),
 (3361, 0.5),
 (3364, 0.5),
 (3370, 0.5),
 (3373, 0.5),
 (3385, 0.5),
 (3424, 0.5),
 (3437, 0.5),
 (3485, 0.5),
 (3552, 0.5),
 (3613, 0.5),
 (3616, 0.5),
 (3617, 0.5),
 (3618, 0.5),
 (3668, 0.5),
 (3749, 0.5),
 (3775, 0.5),
 (3799, 0.5),
 (3848, 0.5),
 (3920, 0.5),
 (3956, 0.5),
 (4155, 0.5),
 (4215, 0.5),
 (4254, 0.5),
 (4276, 0.5),
 (4312, 0.5),
 (4353, 0.5),
 (4425, 0.5),
 (4563, 0.5),
 (4565, 0.5),
 (4724, 0.5),
 (4734, 0.5),
 (4741, 0.5),
 (45, 0.4472135954999579),
 (86, 0.4472135954999579),
 (88, 0.4472135954999579),
 (106, 0.4472135954999579),
 (116, 0.4472135954999579),
 (152, 0.4472135954999579),
 (164, 0.4472135954999579),
 (167, 0.4472135954999579),
 (184, 0.4472135954999579),
 (186, 0.4472135954999579),
 (196, 0.4472135954999579),
 (234, 0.4472135954999579),
 (254, 0.4472135954999579),
 (267, 0.4472135954999579),
 (289, 0.4472135954999579),
 (310, 0.4472135954999579),
 (312, 0.4472135954999579),
 (350, 0.4472135954999579),
 (485, 0.4472135954999579),
 (491, 0.4472135954999579),
 (503, 0.4472135954999579),
 (542, 0.4472135954999579),
 (565, 0.4472135954999579),
 (589, 0.4472135954999579),
 (604, 0.4472135954999579),
 (660, 0.4472135954999579),
 (683, 0.4472135954999579),
 (711, 0.4472135954999579),
 (744, 0.4472135954999579),
 (754, 0.4472135954999579),
 (782, 0.4472135954999579),
 (800, 0.4472135954999579),
 (899, 0.4472135954999579),
 (935, 0.4472135954999579),
 (985, 0.4472135954999579),
 (1024, 0.4472135954999579),
 (1029, 0.4472135954999579),
 (1035, 0.4472135954999579),
 (1078, 0.4472135954999579),
 (1084, 0.4472135954999579),
 (1100, 0.4472135954999579),
 (1103, 0.4472135954999579),
 (1198, 0.4472135954999579),
 (1271, 0.4472135954999579),
 (1287, 0.4472135954999579),
 (1361, 0.4472135954999579),
 (1669, 0.4472135954999579),
 (1672, 0.4472135954999579),
 (1757, 0.4472135954999579),
 (1836, 0.4472135954999579),
 (1877, 0.4472135954999579),
 (1878, 0.4472135954999579),
 (1892, 0.4472135954999579),
 (1973, 0.4472135954999579),
 (2136, 0.4472135954999579),
 (2161, 0.4472135954999579),
 (2169, 0.4472135954999579),
 (2262, 0.4472135954999579),
 (2380, 0.4472135954999579),
 (2556, 0.4472135954999579),
 (2577, 0.4472135954999579),
 (2586, 0.4472135954999579),
 (2590, 0.4472135954999579),
 (2736, 0.4472135954999579),
 (2806, 0.4472135954999579),
 (2860, 0.4472135954999579),
 (2899, 0.4472135954999579),
 (3006, 0.4472135954999579),
 (3352, 0.4472135954999579),
 (3372, 0.4472135954999579),
 (3795, 0.4472135954999579),
 (4004, 0.4472135954999579),
 (4251, 0.4472135954999579),
 (4267, 0.4472135954999579),
 (4465, 0.4472135954999579),
 (4487, 0.4472135954999579),
 (112, 0.4082482904638631),
 (370, 0.4082482904638631),
 (665, 0.4082482904638631),
 (767, 0.4082482904638631),
 (773, 0.4082482904638631),
 (942, 0.4082482904638631),
 (950, 0.4082482904638631),
 (1175, 0.4082482904638631),
 (1695, 0.4082482904638631),
 (2156, 0.4082482904638631),
 (2250, 0.4082482904638631),
 (2264, 0.4082482904638631),
 (4049, 0.4082482904638631),
 (2346, 0.3779644730092272),
 (2827, 0.3779644730092272),
 (133, 0.35355339059327373),
 (189, 0.35355339059327373),

In [43]:
def recommend(movie):
    
    movies= movie.split()
    
    for i in range(len(movie)):
        if i == len(movies):
            break
        movies[i] = movies[i].lower()
        movies[i] = movies[i].capitalize()
        
    movie = " ".join(movies)
    
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
    #return

In [44]:
new_df[new_df['title'] == 'The Avengers'].index[0]

16

In [54]:
recommend('the dark knight')

The Dark Knight
The Fast and the Furious: Tokyo Drift
The Siege
Need for Speed
Man on Fire
Gangster Squad
Righteous Kill
Mercury Rising
The Hunted
Payback

In [55]:
new_df.iloc[2064]

id       44113
title    Stone
tags     drama
Name: 2064, dtype: object

In [56]:
new_df.shape

(4806, 3)